@charset "ISO-8859-1";

h1{
	background-color:brown;
}

h2{
    background-color:green;
    color:white;
}

h3{
    background-color:blue;
}
/* Grouping of Elements */
h1,h3{
    color:white;
}
/*ul li
{
    color:red;
}*/

/* selecting parent child */
ul>li
{
    color:blue;
}
li{
    color:green;
}

.item{
 color:pink;
}

/* selecting by id */
#list-item
{
    color:aqua;
}

section p
{
    color:red;
}

section > p
{
    color:orange;
}

/* Adjacent sibling + select all immediate element */
/* Selects immediately following sibling of specified element */
/*h1 + p
{
    color:yellow;
    background-color: blue;
}*/
/* applies to all paragraphs siblings of h1*/
h1 ~ p
{
    color:yellow;
    background-color: blue;
}

